<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/main_layout}"
>

<head>
	<title>Bill page</title>
</head>

<body layout:fragment="content"  >
	<!--<div th:if="${param.error}" class="alert alert-danger">
		Không đủ số lượng
	</div>-->
	<!-- Order Start onclick="window.print();" -->
<!-- Order Start -->
<div class="col-lg-8zz" style="padding-left: 20%;padding-right: 0%;">
    <div id ="bill" class="card border-secondary mb-5 mx-auto" style="padding-left: 0%;padding-right: 20%;">
        <div class="card-header bg-secondary border-0 d-flex justify-content-center" >
            <h4 class="font-weight-semi-bold m-10">BILL</h4>
        </div>
        <div class="card-body">
            <h5 class="font-weight-medium mb-3">Products</h5>
            <div class="d-flex justify-content-between mb-5 pt-1" th:each="cartItem, cartItemIndex : ${cartItemList}">
                <div class="col-lg-1">
                    <h6 class="font-weight-medium" th:text="${cartItemIndex.count}"></h6>
                </div>
                <div class="col-lg-3">
                    <h6 class="font-weight-medium" th:text="${cartItem.product.name}"></h6>
                </div>
                <div class="col-lg-2">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Price</h6>
                        <h6 class="font-weight-medium" th:text="${cartItem.product.price}"></h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Quantity</h6>
                        <h6 class="font-weight-medium" th:text="${cartItem.quantity}"></h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Total of each type</h6>
                        <h6 class="font-weight-medium" th:text="${cartItem.getPriceFormatted()}"></h6>
                    </div>
                </div>
                <br/>
            </div>
        </div>

        <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
                <h6 class="font-weight-medium">Subtotal</h6>
                <h6 class="font-weight-medium" th:text="${total}"></h6>
            </div>
            <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Shipping</h6>
                <h6 class="font-weight-medium">Free Ship</h6>
            </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
            <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">Total</h5>
                <h5 class="font-weight-bold" th:text="${total}"></h5>
            </div>
            <text value="getCurrentDate()"></text>
        </div>
    </div>
    <div onclick="printDiv('bill')" class="card-footer border-secondary bg-transparent">
<!--                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
-->          
                  <a th:href="@{/placeorder}" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Print Bill</a>

                    </div>
</div>
<!-- Order End -->
	<!-- Order End -->
<script>
    function printDiv(divId) {
        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();

        document.body.innerHTML = originalContents;
    }

    window.addEventListener('DOMContentLoaded', function() {
        var currentDate = new Date();
        var formattedDate = currentDate.toLocaleDateString();

        document.getElementById('current-date').textContent = 'Date: ' + formattedDate;
    });
</script>
<script>function getCurrentDate() {
    var currentDate = new Date();
    var day = currentDate.getDate();
    var month = currentDate.getMonth() + 1; // Tháng trong JavaScript được đếm từ 0 - 11, nên cần cộng thêm 1.
    var year = currentDate.getFullYear();

    // Định dạng ngày tháng năm thành chuỗi
    var formattedDate = day + '/' + month + '/' + year;

    return formattedDate;
}</script>

</body>

</html>