<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/main_layout}"
>

<head>
	<title>Cart page</title>
</head>

<body layout:fragment="content">
	<!--<div th:if="${param.error}" class="alert alert-danger">
		Không đủ số lượng
	</div>-->
	<!-- Order Start -->
	<div class="col-lg-8">
		    <div class="card border-secondary mb-5">
		        <div class="card-header bg-secondary border-0">
		            <h4 class="font-weight-semi-bold m-10">BILL</h4>
		        </div>
		        <div class="card-body">
		            <h5 class="font-weight-medium mb-3">Products</h5>
		            <div class="d-flex justify-content-between mb-5 pt-1" th:each="cartItem : ${cartItemList}">
					    <div class="col-lg-4">
					        <h6 class="font-weight-medium" th:text="${cartItem.product.name}"></h6>
					    </div>
					    <div class="col-lg-2">
					        <div class="d-flex justify-content-between">
					            <h6 class="font-weight-medium">Price</h6>
					            <h6 class="font-weight-medium" th:text="${cartItem.product.price}"></h6>
					        </div>
					    </div>
					    <div class="col-lg-2">
					        <div class="d-flex justify-content-between">
					            <h6 class="font-weight-medium">Quantity</h6>
					            <h6 class="font-weight-medium" th:text="${cartItem.quantity}"></h6>
					        </div>
					    </div>
					    <div class="col-lg-3">
					        <div class="d-flex justify-content-between">
					            <h6 class="font-weight-medium">Total of each type</h6>
					            <h6 class="font-weight-medium" th:text="${cartItem.getPriceFormatted()}"></h6>
					        </div>
					    </div>
					    <br/> 
					</div>
				</div>
				
					<div class="d-flex justify-content-between mb-3 pt-1">
		                <h6 class="font-weight-medium">Subtotal</h6>
		                <h6 class="font-weight-medium" th:text="${total}"></h6>
		            </div>
		            <div class="d-flex justify-content-between">
		                <h6 class="font-weight-medium">Shipping</h6>
		                <h6 class="font-weight-medium">Free Ship</h6> 
		            </div>
		        </div>
		        <div class="card-footer border-secondary bg-transparent">
		            <div class="d-flex justify-content-between mt-2">
		                <h5 class="font-weight-bold">Total</h5>
		                <h5 class="font-weight-bold" th:text="${total}"></h5>
		            </div>
		        </div>
		    </div>
		</div>
	<!-- Order End -->

</body>

</html>